@page "/naujienos_salinimas"
@attribute [Authorize(Roles = "administratorius")]
@using DataLibrary
@using BlazorServer.Models
@using Microsoft.Extensions.Configuration
@inject IDataAccess _data
@inject IConfiguration _config


@using BlazorServer.Authentication
@inject UserAccountService userAccountService
@inject Blazored.SessionStorage.ISessionStorageService _currentSession
@inject IJSRuntime js
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager


<PageTitle>Šalinti naujieną</PageTitle>
<h1>Šalinti naujieną</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Naujiena</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Gruodžio 12d. nedirbsime</td>
      <td>
          <a class="btn btn-danger" href="naujienos_salinimas" role="button">Šalinti</a>
      </td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td>Iki 50% nuolaida nuo...</td>
      <td>
          <a class="btn btn-danger" href="naujienos_salinimas" role="button">Šalinti</a>
      </td>
    </tr>

    <tr>
      <th scope="row">3</th>
      <td>Naujos aerobikos treniruotės</td>
      <td>
          <a class="btn btn-danger" href="naujienos_salinimas" role="button">Šalinti</a>
      </td>
    </tr>
  </tbody>
</table>


<br/>
<a class="btn btn-primary" href="admin" role="button">Atgal</a>


@code {

    List<PersonModel> people;


    private async Task DeleteData()
    {
        string sql = "delete from zmones where vardas = @vardas limit 1";

        await _data.SaveData(sql, new { vardas = "jaunius" }, _config.GetConnectionString("default"));

        await OnInitializedAsync();
    }



    protected override async Task OnInitializedAsync()
    {
        string sql = "select * from zmones";

        people = await _data.LoadData<PersonModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
    }
}