@page "/"

@using DataLibrary
@using BlazorServer.Models
@using Microsoft.Extensions.Configuration
@inject IDataAccess _data
@inject IConfiguration _config

<PageTitle>AppleGym</PageTitle>

<h1>AppleGym - Tavo sporto klubas!</h1>
<AuthorizeView Roles="klientas, treneris, administratorius">
    <NavLink class="nav-link" href="profilis">
        <span class="oi oi-clock" aria-hidden="true"></span> Profilis
    </NavLink>
</AuthorizeView>
<AuthorizeView Roles="klientas">
    <NavLink class="nav-link" href="naryste">
        <span class="oi oi-clock" aria-hidden="true"></span> Naryste
    </NavLink>
</AuthorizeView>

<br />
<h3>Naujienos</h3>


@if (naujienos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Tekstas</th>
                <th scope="col">Antraštė</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var p in naujienos)
            {

                <tr>
                    <td>@p.data</td>
                    <td>@p.tekstas</td>
                    <td>@p.antraste</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}


<div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-clock" aria-hidden="true"></span> Naujiena
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-clock" aria-hidden="true"></span> Naujiena
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tester">
                <span class="oi oi-clock" aria-hidden="true"></span> Naujiena
            </NavLink>
        </div>
    </nav>
</div>
<br />

<h3>Kontaktai</h3>
<div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <span class="oi oi-phone" aria-hidden="true"></span> Telefono nr.: +3706942069
        </div>
        <div class="nav-item px-3">
            <span class="oi oi-envelope-closed" aria-hidden="true"></span> El. paštas: applegym@gmail.com
        </div>
    </nav>
</div>
<br />

<h3>Treniruotės</h3>
<a class="btn btn-primary" href="treneriai" role="button">Žiūrėti Trenerius</a>


@code{
    List<NaujienaModel> naujienos; 

    protected override async Task OnInitializedAsync()
    {
        string sql = "select * from naujienos";

        naujienos = await _data.LoadData<NaujienaModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
    }
}