@page "/naryste"
@using System.Net;
@using System.Net.Mail
@inject IJSRuntime js

<PageTitle>Mano Naryste</PageTitle>
<h1>Mano Naryste</h1>
Galioja iki: 2030-07-04
<br/> Likęs laikas: 98798 dienų
<br/> 
<br/>


<h3>Įsigyti narystę</h3>
<input type="text" class="form-control" placeholder="Vardas"/>
<input type="text" class="form-control" placeholder="Pavardė"/>
<input type="text" class="form-control" placeholder="Kortelės nr"/>
<input type="text" class="form-control" placeholder="cvv"/>
<input type="text" class="form-control" placeholder="Galioja iki"/>
<input type="text" class="form-control" placeholder="Mėnesių kiekis (15 eur/mėn)"/>
<button class="btn btn-primary" href="">Pirkti</button>
<br/>
<br/>

<h3>Lojalumas</h3>
Naryste džiaugiates jau <b>6 mėnesius, 4 dienas</b><br/>
Sekančiam mokėjimui bus pritaikyta <b>8%</b> nuolaida<br/>
<br/>
Kviesti draugą: <input @bind="recipient" type="text" class="form-control" placeholder="ISPlaboras@outlook.com"/>
<button class="btn btn-primary" href="" @onclick="SendEmail">Kviesti</button>
Pakviestų draugų kiekis: <b>5</b><br/>
Jums priklauso <b>45 dienos</b> nemokamos narystės
<br/>
<br/>

<h3>Pertraukti narystę</h3>
<input type="text" class="form-control" id="kiekis" placeholder="Stabdomų dienų kiekis"/>
<button class="btn btn-warning" href="">Pertraukti</button>
<br/>
<br/>

<h3>Nutraukti narystę</h3>
<input type="text" class="form-control" placeholder="Priežastis"/>
<button class="btn btn-danger" href="" role="button">Nutraukti</button>

@code
{
    string recipient = "";
    private void SendEmail()
    {
        string _sender = "ISPlaboras@outlook.com";
        string _password = "I1S2P3Laboras";

        SmtpClient client = new SmtpClient("smtp-mail.outlook.com");

        client.Port = 587;
        client.DeliveryMethod = SmtpDeliveryMethod.Network;
        client.UseDefaultCredentials = false;
        System.Net.NetworkCredential credentials =
                    new System.Net.NetworkCredential(_sender, _password);
        client.EnableSsl = true;
        client.Credentials = credentials;

        MailMessage message = new MailMessage(_sender, recipient);
        message.Subject = "Pakvietimas į AppleGym";
        message.Body = "Jūs esate Pakviestas į AppleGym. Prisiregistravus su šiuo el. paštu Jūs ir Jūsų draugas gausite 20% nuolaidą sekančiam pirkimui!";
        client.Send(message);
        js.InvokeVoidAsync("alert", "Sėkmingai išsiųstas pranešimas");
    }
}